# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log
*.tmp
*.swp
*.bak

# Virtual Environments
env/
venv/
.venv/
ENV/
env.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# PyInstaller
*.spec

# Setup artifacts
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# VSCode settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Output folders (runtime generated)
operation_summary/
eda_outputs_
